<div class="count-number-container">
  <h1 class="mb-2">Count Number</h1>

  <div class="js-count-number" data-jqp-feature="countNumber">
    <div>
      <button class="btn btn-success js-btn-decrease">-</button>
      <span class="js-set-value mr-2 ml-2" style="display: inline-block"></span>
      <button class="btn btn-success js-btn-increase">+</button>
      <button class="js-btn-reset btn btn-primary">Reset</button>
    </div>
  </div>

  <div class="mt-3">
    <button class="js-btn-get-value btn btn-info">Get value</button>
  </div>
</div>
