// container
.container-fluid {
  max-width: $container-max-width;
}
.container {
  @media #{$media-large-desktop} {
    max-width: $container-max-width;
  }
}

.container-fluid,
.container {
  @include column-gutter;
  margin-left: auto;
  margin-right: auto;
}
