@font-face {
  font-family: 'NotoSans';
  src: url($font-path + 'NotoSans/NotoSans-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'NotoSans';
  src: url($font-path + 'NotoSans/NotoSans-Bold.ttf') format('truetype');
  font-weight: 700;
}


