{{#> default}}
{{!-- component variables load here --}}
  {{#*inline "content-block" }}
    <main class="landing">
      <div class="container">
        {{>views/organisms/count-number}}
      </div>
    </main>
  {{/inline}}
{{/default}}
