<div class="link-dropdown js-link-dropdown">
  <div class="link-dropdown__wrapper">
    <div class="link-dropdown__swiper js-link-dropdown-swiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <a href="#">Slide 1</a>
        </li>
        <li class="swiper-slide">
          <a href="#">Slide 2</a>
        </li>
        <li class="swiper-slide">
          <a href="#">Slide 3</a>
        </li>
      </ul>
    </div>
    <div class="link-dropdown__button">
      <span class="icon-play"></span>
    </div>
    <ul class="link-dropdown__dropdown">
      <li class="link-dropdown__dropdown-item">
        <a href="#">Slide 1</a>
      </li>
      <li class="link-dropdown__dropdown-item">
        <a href="#">Slide 2</a>
      </li>
      <li class="link-dropdown__dropdown-item">
        <a href="#">Slide 3</a>
      </li>
    </ul>
  </div>
</div>
