<div class="navbar-menu is-desktop">
  <div class="container">
    <h2 class="navbar-menu__screen-out">Main menu</h2>
    <nav>
      <ul class="navbar-menu__main">
        <li class="navbar-menu__item is-activated item-dropdown js-item-dropdown">
          <a href="/haniff" class="navbar-menu__link text-white" target="_top">
            2025 Haniff
          </a>
          <ul class="navbar-menu__dropdown js-navbar-dropdown">
            <li class="navbar-menu__dropdown-item item-dropdown">
              <a href="/intro-haniff" class="navbar-menu__dropdown-link text-white" target="_top">
                Intro HANIFF
              </a>
            </li>
            <li class="navbar-menu__dropdown-item item-dropdown">
              <a href="/overview-program" class="navbar-menu__dropdown-link text-white" target="_top">
                Overview Program
              </a>
            </li>
          </ul>
        </li>
        <li class="navbar-menu__item item-dropdown js-item-dropdown">
          <a href="/schedule" class="navbar-menu__link text-white" target="_top">
            Schedule
          </a>
        </li>
        <li class="navbar-menu__item item-dropdown js-item-dropdown">
          <a href="/program" class="navbar-menu__link text-white" target="_top">
            Program
          </a>
        </li>
        <li class="navbar-menu__item item-dropdown js-item-dropdown">
          <a href="/festival-event" class="navbar-menu__link text-white" target="_top">
            Festival Event
          </a>
        </li>
        <li class="navbar-menu__item item-dropdown js-item-dropdown">
          <a href="/community" class="navbar-menu__link text-white" target="_top">
            Community
          </a>
        </li>
        <li class="navbar-menu__item item-dropdown js-item-dropdown">
          <a href="/contact" class="navbar-menu__link text-white" target="_top">
            Contact
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
