<div class="toggler-menu js-toggler-menu">
  <a class="toggler-menu__link">
    <span class="toggler-menu__line toggler-menu__line--tline"></span>
    <span class="toggler-menu__line toggler-menu__line--tline is-line2"></span>
    <span class="toggler-menu__line toggler-menu__line--tline is-line3"></span>
    <span class="toggler-menu__line toggler-menu__line--mline"></span>
    <span class="toggler-menu__line toggler-menu__line--mline is-line2"></span>
    <span class="toggler-menu__line toggler-menu__line--mline is-line3"></span>
    <span class="toggler-menu__line toggler-menu__line--bline"></span>
    <span class="toggler-menu__line toggler-menu__line--bline is-line2"></span>
    <span class="toggler-menu__line toggler-menu__line--bline is-line3"></span>
  </a>
</div>
